<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.3001" targetFramework="net40-Client" />
  <package id="Castle.Windsor" version="3.0.0.3001" targetFramework="net40-Client" requireReinstallation="True" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net403" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net403" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net403" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net403" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net403" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net403" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net403" />
  <package id="RavenDB.Client" version="2.5.2956" targetFramework="net403" />
  <package id="RavenDB.Database" version="2.5.2956" targetFramework="net403" />
  <package id="RavenDB.Embedded" version="2.5.2956" targetFramework="net403" />
  <package id="reactiveui-core" version="2.5.1.0" targetFramework="net40-Client" />
  <package id="Rx_Experimental-Main" version="1.1.11011" targetFramework="net40-Client" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net403" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net403" />
</packages>